.custom-checkbox {
    padding: 16px 20px;
    width: 450px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.custom-checkbox--blue {
    background-color: #EBF5FB;
}

.custom-checkbox__label {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    user-select: none;
    padding: 0 0 0 32px;
    width: 360px;

}

.custom-checkbox--blue .custom-checkbox__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    padding: 0 0 0 32px;
    user-select: none;
}

.custom-checkbox__label::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid #C7CED3;
    border-radius: 4px;
    display: block;
    position: absolute;
    top: 15px;
    left: 20px;
}

.custom-checkbox__field:hover + .custom-checkbox__label::before {
    border: 2px solid #1883B6;
}

.custom-checkbox__field:checked + .custom-checkbox__label::before {
    border: 2px solid #239DD6;
    background-image: url('../../images/sprite/check-icon-blue.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.custom-checkbox--error .custom-checkbox__field + .custom-checkbox__label::before {
    border: 2px solid #D72522;
}

.custom-checkbox__link {
    color: #239DD6;
    text-decoration: underline;
}

.custom-checkbox__link:hover {
    color: #9D1881;
}
